body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;


}

h1 {
    font-size: 100%;
    color: white;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
